.two-column-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;

  border: 1pt solid blue;
}

.two-column-container > .left {
  display: none;
}

.two-column-container > .right {
  display: flex;
  flex: 10;
  justify-content: flex-start;
  border: 1pt solid yellow;
}

@media screen and (min-width: 768px) {
  .two-column-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;

    border: 1pt solid blue;
  }

  .two-column-container > .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
    border: 1pt solid green;
  }

  .two-column-container > .right {
    display: flex;
    flex: 10;
    justify-content: flex-start;
    border: 1pt solid yellow;
  }
}
